https://www.digitalocean.com/community/tutorials/how-to-set-up-django-with-postgres-nginx-and-gunicorn-on-ubuntu-20-04


https://stackoverflow.com/questions/39919053/django-gunicorn-sock-file-not-created-by-wsgi


#support
https://stackoverflow.com/questions/35868976/nginx-service-failed-because-the-control-process-exited