[Unit]

Description=gunicorn daemon

Requires=gunicorn.socket

After=network.target

[Service]

User=ahmed

Group=www-data

#WorkingDirectory=/home/ahmed/Desktop/AHMED/Django_Websites/report_portal/Portal

WorkingDirectory=/home/ahmed/Desktop/AHMED/Django_Websites

ExecStart=/home/ahmed/Desktop/AHMED/Django_Websites/reports_portal/Portal_venv/bin/gunicorn --workers 3 --timeout 86400 --bind unix:/etc/systemd/system/gunicorn.socket Portal.wsgi:application




[Install]

WantedBy=multi-user.target
